aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
hurry.filesize
heroku3
motor
pillow
psutil
python-dotenv
pyromod
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
yt-dlp
regex
html5lib
psutil
pyrogram==1.4.12
py-tgcalls==0.9.7
python-dotenv==1.0.0
tgcrypto==1.2.5
speedtest-cli==2.1.3
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
